# fal.ai
FAL_KEY=8c2add20-ea30-4568-a820-813ab23610a8:03f8c8f0c09ab62df6de0a42608c9e88

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=ac19f1db02531bc11ed75e18a40e7676
CLOUDFLARE_D1_DATABASE_ID=5d8923f5-a9ea-49fd-a521-de4ea2422bec
CLOUDFLARE_API_TOKEN=  # generate at dash.cloudflare.com/profile/api-tokens with D1 Edit scope

# Better-Auth
BETTER_AUTH_SECRET=  # openssl rand -base64 32
BETTER_AUTH_URL=https://app.we-are-glo.com
